* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

.container {
  width: 49.6rem;
  min-height: 70.2rem;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  /* border: 1px solid #ddd; */
}

.name {
  text-align: center;
}

.name h1 {
  font-size: 3rem;
}
header {
  margin-bottom: 1rem;
}

.contact-title {
  font-size: 1.3rem;
  border-bottom: 2px dashed black;
  color: #3d4b58;
  margin-bottom: 10px;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.contact-row a,
.contact-row span {
  color: #2d3842;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}
.contact-row i{
  color: #1aa3ec;
}
.contact-row a:hover {
  color: #7644ea; 
}

#email-icon,
#linkdin-icon,
#github-icon,
#tel-icon {
  color: #222;
  margin-right: 10px;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.skills,
.education {
  width: 49%;
}

.contact {
  font-size: 1.5rem;
}

h1,
h2 {
  color: #222;
  margin-bottom: 5px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.section {
  margin-bottom: 20px;
}
.declaration,
.hobbies,
.lang,
.contact,
.about,
.experience,
.main {
  margin-top: 2rem;
}
.declaration {
    width: 100%;
    line-height: 1.6;
  }
  .signature-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
  }
  .projects{
    margin-top: 1rem;
    margin-bottom: 3.6rem
  }
  
  
